
@{
    ViewBag.Title = "zhece";
}

<h2>zhece</h2>
<form action="/ceshi/zhanshi" method="post">
    <div>用户名：<input type="text" name="name"/></div>
    <div>用户名：<input type="text" name="age"/></div>
    <input type="submit" value="提交"/>
</form>

