
@{
    ViewBag.Title = "show";
}

<h2>show</h2>

<div>用户名：@TempData["username"]</div>
<div>用户密码：@TempData["password"]</div>
<div>用户性别：@TempData["sex"]</div>
<div>用户介绍：@TempData["intro"]</div>
<div>城市：@TempData["city"]</div>
<div>城市：@TempData["city1"]</div>
<div>性别1：@TempData["sex1"]</div>
<div>爱好：@TempData["love"]</div>